:root {
        --bg: #05081d;
        --panel: #0b1030;
        --border: #202a68;
        --text: #fff;
        --muted: #9aa3d0;
        --green: #00ff9d;
        --red: #ff5b67;
        --purple: #5358ee;
    }

    body {
        background: var(--bg);
        color: var(--text);
        font-family: 'Inter', sans-serif;
    }

    .container {
        padding: 12px;
        max-width: 1600px;
        margin: auto;
    }

    .title {
        font-size: 30px;
        font-weight: 700;
        margin-top: 5px;
    }

    .sub {
        color: var(--muted);
        font-size: 13px;
    }

    .cards-duplo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        margin-top: 24px;
    }

    .card {
        background: var(--panel);
        border: 1px solid var(--border);
        border-radius: 8px;
        padding: 18px;
    }

    .label {
        font-size: 11px;
        letter-spacing: 3px;
        color: #95a0d7;
        background: #0b1030;
    }

    .value {
        font-size: 20px;
        margin: 10px 0;
        font-weight: 600;
    }

    .value.red { color: var(--text); }
    .value.green { color: var(--text); }
    .muted { color: var(--muted); font-size: 12px; }

    .panel {
        margin-top: 24px;
        background: var(--panel);
        border: 1px solid var(--border);
        border-radius: 8px;
        padding: 5px;
    }

    .linha-btn {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .btn {
        background: #11183D;
        /* border: 1px solid var(--border); */
        color: #8E98C6;
        padding: 8px 14px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
    }

    .btn-select {
        background: #101641;
        border: 1px solid var(--border);
        color: #8E98C6;
        padding: 2px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        width: 50%;
    }

    .div-center {
        text-align: center !important;
        padding:30px;
    }

    .texto-card {
        color: var(--text);
        padding: 1%;
        font-size: 12px
    }

    .edit {
        border: 1px solid #38408c;
        border-radius: 6px;
        padding: 6px 10px;
        display: inline-block;
        cursor: pointer;
    }

    .swal-input,
    .swal-select,
    .swal-textarea {
        width: 100%;
        height: 35px !important;
        border-radius: 6px;
        border: 1px solid #202a68 !important;
        background: #101641 !important;
        color: #fff !important;
        padding: 6px 10px;
        font-size: 14px;
    }

    .btn:hover { background: #121f5e; color: #fff; }
    .btn.active { background: var(--purple); color: #fff; border: 1px solid var(--purple); }

    .tab-content { display: none; margin-top: -14px; }
    .tab-content.active { display: block; }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid #1a2257;
        white-space: nowrap;
    }

    .tab-content:not(.doc-example-content) {
        z-index: 1;
        padding: 0px !important;
    }

    th { color: #ffffff; text-align: left; }
    .status-inativo { padding: 4px 10px; border-radius: 12px; font-size: 10px; font-weight: 700; background:#331731; color:#ff7180;border: 1px solid #ff7180 !important; }
    .status-ativo { padding: 4px 10px; border-radius: 12px; font-size: 10px; font-weight: 700; background:#466351; color: #00ff9d;border: 1px solid #00ff9d !important;}
    .baixar-btn { background: var(--purple); color:#fff; border:none; padding:6px 10px; border-radius:6px; cursor:pointer; font-size:11px; }